<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../fragments/head') %>
</head>
<body>
<%- include('../fragments/header') %>
<main>
    <section id="about">
        <h2>About Me</h2>
        <details>
            <summary>What is Student Insider?</summary>
            <p>Student Insider is a blog providing insights into student life, news, and entertainment.</p>
        </details>
        <p>For more information, visit <a href="https://google.com" target="_blank" rel="noopener noreferrer">our partner site</a>.</p>
        <p>Find out more about the creator of Student Insider. Follow us on <a href="https://www.instagram.com/alegz_506/" target="_blank">social media</a> and support our mission.</p>
    </section>           
</main>
<%- include ('../fragments/footer') %>
</body>
</html>