<!DOCTYPE html>
<html lang="en">
<%- include('../fragments/head') %>
<body id="top">
<div id="content"></div>
<%- include('../fragments/header') %>
<main>
    <div>
        <div class="hero-image">
            <h2>Welcome to Student Insider</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Support</strong> our journey to bring you the <em>latest</em> in student news.</p>
            <i class="fas fa-coffee"></i>
            <a href="/news">Latest News</a> | <a href="/entertainment">Latest Entertainment</a>
        </div>
    </div>
</main>
<%- include ('../fragments/footer') %>
</div>
</body>
</html>