<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../fragments/head') %>
</head>
<body>
<%- include('../fragments/header') %>
<main>
    <section id="news-table">
        <h2>News Highlights</h2>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Headline</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2024-03-16</td>
                    <td>Major breakthrough in renewable energy</td>
                    <td>Science</td>
                </tr>
            </tbody>
        </table>
    </section>
</main>
<%- include ('../fragments/footer') %>
</body>
</html>