<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../fragments/head') %>
</head>
<body>
<%- include('../fragments/header') %>
<main>
    <div class="sort-vertical">
        <h1>Shop Gallery</h1>
        <p>This is some text on top of the gallery.</p>
        <div class="gallery-text">
        </div>
        <div class="image-grid">
            <img src="../Resources/merch1.png" alt="Image 1">
            <img src="../Resources/merch2.png" alt="Image 2">
            <img src="../Resources/merch3.png" alt="Image 3">
        </div>
    </div>
</main>
<%- include ('../fragments/footer') %>
</body>
</html>