<header class="c1" id="h1">
    <div class="header-title">
        <h1>Student <span>Insider</span></h1>
    </div>
        <nav>
            <label id="student" for="ch-student">
                <i class="fas fa-spinner fa-spin"></i>
            <ul class="introducere">
                <li><div id="home-tab" data-target="introduction"><span class="fas fa-regular fa-house"></span> Home</div>
                    <ul>
                        <li><a href="/welcome">Welcome</a></li>
                        <li><a href="/announcements">Announcements</a></li>
                        <li><a href="/news-table">Categories</a></li>
                    </ul>
                </li>
                <li><div>Articles</div>
                    <ul>                        
                        <li><a href="/news">News</a></li>
                        <li><a href="/entertainment">Entertainment</a></li>
                    </ul>
                </li>
                <li><div>Shop</div>
                    <ul>                        
                        <li><a href="/shop">Merch</a></li>
                        <li><a href="/cart">My cart</a></li>
                    </ul>
                </li>
                <li><div>About Us</div>
                    <ul>
                        <li><a href="http://www.google.com">External</a></li>
                        <li><a href="/about">Us</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
</header>